<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040915439855-3r8jm0qpm5on84u1q0es2bm9phgn2iph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040915439855-3r8jm0qpm5on84u1q0es2bm9phgn2iph</string>
	<key>API_KEY</key>
	<string>AIzaSyAtnc1CslWsNEis5cAkZalQHzIW3S54F2M</string>
	<key>GCM_SENDER_ID</key>
	<string>1040915439855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseexample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-f75dd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-f75dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040915439855:ios:28537b7f49b26c5eadbb1a</string>
</dict>
</plist>